<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7647c2ba-727c-43f6-972b-c1fd03d05bcf" Alias="Dropdown - Dropdown - Extended Dropdown Editor" Level="1">
  <Info>
    <Name>Dropdown - Dropdown - Extended Dropdown Editor</Name>
    <EditorAlias>jcdcdev.Umbraco.ExtendedDropdown</EditorAlias>
    <EditorUIAlias>jcdcdev.Umbraco.PropertyEditorUi.ExtendedDropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "file": [
    "/wwwroot/data.json"
  ],
  "items": [
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
  ]
}]]></Config>
</DataType>