<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b91963e2-baae-41ef-8f65-789ee4c54da9" Alias="Base Page - Extended Dropdown by URL - Extended Dropdown Editor" Level="1">
  <Info>
    <Name>Base Page - Extended Dropdown by URL - Extended Dropdown Editor</Name>
    <EditorAlias>jcdcdev.Umbraco.ExtendedDropdown</EditorAlias>
    <EditorUIAlias>jcdcdev.Umbraco.PropertyEditorUi.ExtendedDropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "url": "/api/cats"
}]]></Config>
</DataType>