@inherits UmbracoViewPage<Home>

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1">@Model.Name</h1>
            <div>
                @await Html.GetBlockGridHtmlAsync(Model.GridContent)
            </div>
            <div>
                <h2>Extended Dropdown Editor</h2>
                @foreach (var item in Model.ExtendedDropdown)
                {
                    <div>@item</div>
                }
            </div>
            <div>
                <h2>Extended Dropdown Editor (Single)</h2>
                <div>@Model.ExtendedDropdownSingle</div>

            </div>
            <div>
                <h2>Extended Dropdown Editor by URL</h2>
                <div>@Model.ExtendedDropdownByUrl</div>
            </div>
        </div>
    </div>
</div>
