<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed5e3d7d-6e97-4bbb-bcaf-e02a0e0f09bf" Alias="basePage" Level="1">
  <Info>
    <Name>Base Page</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e28a3263-9bbe-4f31-bbc9-61d1a16b5cd6</Key>
      <Name>Extended Dropdown</Name>
      <Alias>extendedDropdown</Alias>
      <Definition>2e896ebc-8d71-4a93-b870-fc0812cce270</Definition>
      <Type>jcdcdev.Umbraco.ExtendedDropdown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1afc5285-8615-4987-9e10-1458a43c2b4b</Key>
      <Name>Extended Dropdown by URL</Name>
      <Alias>extendedDropdownByUrl</Alias>
      <Definition>b91963e2-baae-41ef-8f65-789ee4c54da9</Definition>
      <Type>jcdcdev.Umbraco.ExtendedDropdown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01141fdc-78bb-4ded-9fef-a39741329028</Key>
      <Name>Extended Dropdown Single</Name>
      <Alias>extendedDropdownSingle</Alias>
      <Definition>f6528d3c-9620-4056-adac-eefb85f763f3</Definition>
      <Type>jcdcdev.Umbraco.ExtendedDropdown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f80aa2c-b281-4f92-bdec-783895bac0f6</Key>
      <Name>Grid Content</Name>
      <Alias>gridContent</Alias>
      <Definition>1ae68ea7-fd86-43f4-b9d3-26f1c64e016e</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b8c5d86d-ab68-4930-9069-400e3507ecc3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>