<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6528d3c-9620-4056-adac-eefb85f763f3" Alias="Base Page - Extended Dropdown Single - Extended Dropdown Editor" Level="1">
  <Info>
    <Name>Base Page - Extended Dropdown Single - Extended Dropdown Editor</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>jcdcdev.Umbraco.PropertyEditorUi.ExtendedDropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "file": [
    "%2FApp_Plugins%2Fdata%25dot%25json"
  ]
}]]></Config>
</DataType>
