<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e896ebc-8d71-4a93-b870-fc0812cce270" Alias="Extended Dropdown Editor" Level="1">
  <Info>
    <Name>Extended Dropdown Editor</Name>
    <EditorAlias>jcdcdev.Umbraco.ExtendedDropdown</EditorAlias>
    <EditorUIAlias>jcdcdev.Umbraco.PropertyEditorUi.ExtendedDropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "file": [
    "%2Fwwwroot%2Fdata%25dot%25json"
  ],
  "multiple": true
}]]></Config>
</DataType>