<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ca4f263-6f54-4a24-87a7-653b49d65038" Alias="yh" Level="1">
  <Info>
    <Name>yh</Name>
    <EditorAlias>jcdcdev.Umbraco.ExtendedDropdown</EditorAlias>
    <EditorUIAlias>jcdcdev.Umbraco.PropertyEditorUi.ExtendedDropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "file": [
    "/wwwroot/data.json"
  ],
  "items": [
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
  ]
}]]></Config>
</DataType>